#graph-canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "acumin-pro";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  cursor: move;
  background-image: linear-gradient(to right, #4F4E4F 1px, transparent 1px), linear-gradient(to bottom, #4F4E4F 1px, transparent 1px);
}

#graph-canvas #selection-container {
  pointer-events: none;
}

#graph-canvas #selection-container .selection-box {
  z-index: 10;
  position: absolute;
  background: rgba(72, 72, 196, 0.5);
  border: blue solid 2px;
}

#graph-canvas .port {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#graph-canvas .port .img {
  width: 100%;
}

#graph-canvas .port img.selected {
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
  border-radius: 50%;
}

#graph-canvas .port:hover, #graph-canvas .port.selected {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

#graph-canvas .portLine {
  height: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

#graph-canvas .port-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#graph-canvas .inputsContainer {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

#graph-canvas .inputsContainer .portLine {
  -ms-grid-columns: 12px calc(100% - 15px);
      grid-template-columns: 12px calc(100% - 15px);
}

#graph-canvas .inputsContainer .portLine .port-label {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

#graph-canvas .inputsContainer .portLine .port {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

#graph-canvas .outputsContainer {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

#graph-canvas .outputsContainer .portLine {
  -ms-grid-columns: calc(100% - 10px) 12px;
      grid-template-columns: calc(100% - 10px) 12px;
}

#graph-canvas .outputsContainer .portLine .port-label {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  text-align: right;
}

#graph-canvas .outputsContainer .portLine .port {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

#graph-canvas #graph-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

#graph-canvas #graph-container #frame-container {
  overflow: visible;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

#graph-canvas #graph-container .frame-box {
  position: absolute;
  background: rgba(72, 72, 72, 0.7);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px calc(100% - 40px);
      grid-template-rows: 40px calc(100% - 40px);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#graph-canvas #graph-container .frame-box.collapsed {
  height: auto !important;
  width: 200px !important;
  z-index: 3;
}

#graph-canvas #graph-container .frame-box.collapsed .frame-box-header {
  font-size: 16px;
  -ms-grid-columns: calc(100% - 37px) 30px 7px;
      grid-template-columns: calc(100% - 37px) 30px 7px;
}

#graph-canvas #graph-container .frame-box.collapsed .frame-box-header .frame-box-header-collapse {
  margin-top: -2px;
}

#graph-canvas #graph-container .frame-box.collapsed .frame-box-header .frame-box-header-close {
  display: none;
}

#graph-canvas #graph-container .frame-box.collapsed .frame-comments.has-comments .frame-comment-span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#graph-canvas #graph-container .frame-box .frame-box-border {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  border: transparent solid 4px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#graph-canvas #graph-container .frame-box .frame-box-header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  background: #484848;
  color: white;
  font-size: 24px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: calc(100% - 74px) 30px 7px 30px 7px;
      grid-template-columns: calc(100% - 74px) 30px 7px 30px 7px;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

#graph-canvas #graph-container .frame-box .frame-box-header .frame-box-header-button {
  cursor: pointer;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke: transparent;
  fill: white;
  display: -ms-grid;
  display: grid;
}

#graph-canvas #graph-container .frame-box .frame-box-header .frame-box-header-button.down {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#graph-canvas #graph-container .frame-box .frame-box-header .frame-box-header-collapse {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#graph-canvas #graph-container .frame-box .frame-box-header .frame-box-header-close {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

#graph-canvas #graph-container .frame-box .frame-box-header .frame-box-header-title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2px;
}

#graph-canvas #graph-container .frame-box .port-container {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 4px;
  margin-right: 4px;
  color: white;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  z-index: 2;
}

#graph-canvas #graph-container .frame-box .frame-comments.has-comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  padding: 0 10px;
  font-style: italic;
  word-wrap: break-word;
}

#graph-canvas #graph-container .frame-box.selected .frame-box-border {
  border-color: white;
}

#graph-canvas #graph-container .frame-box .right-handle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 3 / 2;
  width: 4px;
  background-color: transparent;
  cursor: ew-resize;
}

#graph-canvas #graph-container .frame-box .right-handle::after {
  content: "";
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -4px;
  cursor: ew-resize;
}

#graph-canvas #graph-container .frame-box .right-handle.collapsed {
  cursor: pointer;
}

#graph-canvas #graph-container .frame-box .top-right-corner-handle {
  background-color: transparent;
  height: 4px;
  z-index: 21;
  cursor: ne-resize;
  width: 4px;
  margin-left: -6px;
}

#graph-canvas #graph-container .frame-box .top-right-corner-handle::after {
  background-color: transparent;
  cursor: ne-resize;
  margin-left: unset;
  top: -4px;
  height: 10px;
  width: 10px;
}

#graph-canvas #graph-container .frame-box .bottom-right-corner-handle {
  background-color: transparent;
  height: 0px;
  z-index: 21;
  cursor: nw-resize;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: 4 / 2 / 4 / 2;
  margin-left: -2px;
}

#graph-canvas #graph-container .frame-box .bottom-right-corner-handle::after {
  background-color: transparent;
  height: 10px;
  cursor: nw-resize;
  top: unset;
  bottom: -4px;
  width: 10px;
}

#graph-canvas #graph-container .frame-box .left-handle {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 3 / 1;
  width: 4px;
  background-color: transparent;
  cursor: ew-resize;
}

#graph-canvas #graph-container .frame-box .left-handle::before {
  content: "";
  width: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -4px;
}

#graph-canvas #graph-container .frame-box .top-left-corner-handle {
  background-color: transparent;
  height: 4px;
  z-index: 21;
  cursor: nw-resize;
  width: 4px;
  margin-left: -4px;
}

#graph-canvas #graph-container .frame-box .top-left-corner-handle::before {
  background-color: transparent;
  cursor: nw-resize;
  margin-left: unset;
  top: -4px;
  height: 10px;
  width: 10px;
}

#graph-canvas #graph-container .frame-box .bottom-left-corner-handle {
  background-color: transparent;
  height: 0px;
  z-index: 21;
  cursor: sw-resize;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: 4 / 1 / 4 / 1;
}

#graph-canvas #graph-container .frame-box .bottom-left-corner-handle::before {
  background-color: transparent;
  height: 10px;
  cursor: sw-resize;
  top: unset;
  bottom: -4px;
  width: 10px;
}

#graph-canvas #graph-container .frame-box .top-handle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  background-color: transparent;
  height: 4px;
  cursor: ns-resize;
}

#graph-canvas #graph-container .frame-box .top-handle::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -4px;
  bottom: 100%;
  right: 0;
  left: 0;
  margin-bottom: -8px;
  cursor: ns-resize;
  height: 8px;
}

#graph-canvas #graph-container .frame-box .bottom-handle {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 3 / 1;
  background-color: transparent;
  height: 4px;
  cursor: ns-resize;
}

#graph-canvas #graph-container .frame-box .bottom-handle::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: -8px;
  cursor: ns-resize;
  height: 12px;
}

#graph-canvas #graph-container .frame-box.collapsed .top-handle, #graph-canvas #graph-container .frame-box.collapsed .top-right-corner-handle, #graph-canvas #graph-container .frame-box.collapsed .right-handle, #graph-canvas #graph-container .frame-box.collapsed .bottom-right-corner-handle, #graph-canvas #graph-container .frame-box.collapsed .bottom-handle, #graph-canvas #graph-container .frame-box.collapsed .bottom-left-corner-handle, #graph-canvas #graph-container .frame-box.collapsed .left-handle, #graph-canvas #graph-container .frame-box.collapsed .top-left-corner-handle {
  cursor: default;
}

#graph-canvas #graph-container .frame-box.collapsed .right-handle::after, #graph-canvas #graph-container .frame-box.collapsed .bottom-handle::after, #graph-canvas #graph-container .frame-box.collapsed .top-right-corner-handle::after, #graph-canvas #graph-container .frame-box.collapsed .bottom-right-corner-handle::after {
  cursor: default;
}

#graph-canvas #graph-container .frame-box.collapsed .left-handle::before, #graph-canvas #graph-container .frame-box.collapsed .top-handle::before, #graph-canvas #graph-container .frame-box.collapsed .top-left-corner-handle::before, #graph-canvas #graph-container .frame-box.collapsed .bottom-left-corner-handle::before {
  cursor: default;
}

#graph-canvas #graph-container #graph-svg-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  z-index: 2;
}

#graph-canvas #graph-container #graph-svg-container .link {
  stroke-width: 4px;
}

#graph-canvas #graph-container #graph-svg-container .link.selected {
  stroke: white !important;
  stroke-dasharray: 10, 2;
}

#graph-canvas #graph-container #graph-svg-container .link.hidden {
  display: none;
}

#graph-canvas #graph-container #graph-svg-container .selection-link {
  pointer-events: all;
  stroke-width: 16px;
  opacity: 0;
  -webkit-transition: opacity 75ms;
  transition: opacity 75ms;
  stroke: transparent;
  cursor: pointer;
}

#graph-canvas #graph-container #graph-svg-container .selection-link.hidden {
  display: none;
}

#graph-canvas #graph-container #graph-svg-container .selection-link:hover, #graph-canvas #graph-container #graph-svg-container .selection-link.selected {
  stroke: white !important;
  opacity: 0.4;
}

#graph-canvas #graph-container #graph-canvas-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

#graph-canvas #graph-container #graph-canvas-container .visual {
  z-index: 4;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background: gray;
  border: 4px solid black;
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  color: white;
}

#graph-canvas #graph-container #graph-canvas-container .visual.elbow-block {
  width: 40px;
  -ms-grid-rows: 0px 40px 0px;
      grid-template-rows: 0px 40px 0px;
  border: 0;
  border-radius: 40px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

#graph-canvas #graph-container #graph-canvas-container .visual.elbow-block .selection-border {
  border-radius: 40px;
}

#graph-canvas #graph-container #graph-canvas-container .visual.elbow-block .header-container {
  display: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual.elbow-block .connections {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

#graph-canvas #graph-container #graph-canvas-container .visual.elbow-block .content {
  display: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual.hidden {
  display: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual .comments {
  position: absolute;
  top: -50px;
  width: 200px;
  height: 45px;
  overflow: hidden;
  font-style: italic;
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual .selection-border {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: -4px;
  -webkit-transition: border-color 100ms;
  transition: border-color 100ms;
  border: 4px solid black;
  border-radius: 12px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#graph-canvas #graph-container #graph-canvas-container .visual.selected .selection-border {
  border: 4px solid white;
}

#graph-canvas #graph-container #graph-canvas-container .visual .header-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  border: 4px solid black;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background: black;
  color: white;
  -webkit-transform: scaleX(1.01) translateY(-0.5px);
          transform: scaleX(1.01) translateY(-0.5px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

#graph-canvas #graph-container #graph-canvas-container .visual .header-container.constant {
  border-color: #464348;
  background: #464348;
}

#graph-canvas #graph-container #graph-canvas-container .visual .header-container.inspector {
  border-color: #66491b;
  background: #66491b;
}

#graph-canvas #graph-container #graph-canvas-container .visual .promotion-warning {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  display: none;
  z-index: 10;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .promotion-warning.visible {
  display: -ms-grid;
  display: grid;
  width: 20px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 16px;
  text-align: center;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#graph-canvas #graph-container #graph-canvas-container .visual .connections {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#graph-canvas #graph-container #graph-canvas-container .visual .content {
  min-height: 20px;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.input-block {
  -ms-grid-row: 2;
  grid-row: 2;
  min-height: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 5px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.input-block.small-font {
  font-size: 17px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.output-block {
  min-height: 0px;
  height: 5px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.clamp-block {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.gradient-block {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 34px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.texture-block {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 140px;
  width: 140px;
  overflow: hidden;
  border-bottom-left-radius: 7px;
  border: black 4px solid;
  border-left: 0px;
  border-bottom: 0px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.texture-block img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.texture-block img.empty {
  display: none;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.image-source-block {
  margin-top: 5px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.regular-texture-block {
  margin-top: 60px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.reduced-texture-block {
  margin-top: 30px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.reflection-block {
  -ms-grid-row: 3;
  grid-row: 3;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.remap-block {
  height: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

#graph-canvas #graph-container #graph-canvas-container .visual .content.trigonometry-block {
  -ms-grid-row: 2;
  grid-row: 2;
  height: 34px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}
